.ContainerHeader {
  width: "100%";
  height: 50px;
  background-color: blueviolet;
}

.ContainenBody {
  background: url("https://parasol.finance/assets/ellipses.svg") no-repeat top -200px center #17122b;
}

.content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: white;
  width: '95%';

}

.TheA {
  color: white;
  text-decoration: none;
  white-space: normal;


}

.TheAB {
  color: white;
  text-decoration: none;
  font-size: 12px;
  background-color: rgb(255 255 255/var(--tw-bg-opacity));
  height: 34,

}

.menuA {
  color: rgb(229, 231, 235);
  font-weight: 500 !important;
  font-size: 14px;
}

.bg-opacity-50 {
  --tw-bg-opacity: 0.5 !important;
}

.col4 {
  width: "34%";
  float: left;
}

.col2 {
  width: "16%";
  float: left;
}

.nhanqc {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 80px;
  height: 35px;
  padding-top: 6px;
  background-color: blueviolet;
  color: white;
  font-size: 13px;
  text-align: center;
  border-style: solid;
  border-radius: 7px;
  border-width: 1px;
  border-color: azure;
}

.image {
  position: absolute;
  top: -24px;
  right: -26px;
}

.textBig {
  font-size: 60px;
  line-height: 1 !important;
  letter-spacing: -.025em !important;
  font-weight: 800 !important;

}

.textBig2 {
  font-size: 60px;
  font-weight: 800 !important;
  letter-spacing: -.025em !important;
  line-height: 1.5 !important;
}

.text-gray-200,
.text-white {
  --tw-text-opacity: 0.5 !important;
}

.Buttonthedu {
  --tw-bg-opacity: 0.05 !important;
  background-color: rgb(255 255 255/var(--tw-bg-opacity)) !important;
}

.textMedium {
  --tw-text-opacity: 1 !important;
  color: rgb(229 231 235/var(--tw-text-opacity)) !important;
  font-weight: 500 !important;
  font-size: 20px;
  line-height: 1.75rem !important;

}

.textMedium2 {
  --tw-text-opacity: 1 !important;
  color: rgb(229 231 235/var(--tw-text-opacity)) !important;
  font-weight: 700 !important;
  font-size: 1.125rem !important;
  line-height: 1.75rem !important;
  margin-bottom: 0.75rem !important;

}

.dropbtn {
  background-color: #17122b;
  color: white;
  padding: 12px;
  font-size: 16px;
  border-radius: 7px;
  border-width: 0.2;
  cursor: pointer;
  height: 48px;
  width: 194px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  min-width: 194px;
  min-height: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-left: 10px;
  text-align: start;
  justify-content: center;
  border-radius: 5px;


}

.dropdown-content a {
  color: black;
  min-width: 220px;
  text-decoration: none;
  display: block;
  height: 40px;
  padding-left: 5px;
  margin: 4px;
  padding-top: 5px;
  font-size: 14px;
  border-radius: 5px;
  float: left;
}

.dropdown-content a:hover {
  min-width: 220px;
  background-color: none;
  color: white;
  background-color: #A347D1;
  float: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #230D3D;
}

.boderCard {
  border-top: 1.5px dashed white;
  background-color: #17122b;
}



.buttontim {
  margin-top: 3px;
  width: 165px;
  height: 42px;
  text-align: center;
  background-color: #b064fe;
  border-radius: 6px;
  border-width: 1px;
  margin-left: 19px;
  padding-left: 16px;
  font-weight: 500 !important;
  font-size: 16px;
  color: rgb(255 255 255);
}

.buttontim:hover {
  background-color: whitesmoke;
  color: #984eca;
}

.cardHover div:hover {
  width: "33%";
  margin-top: -5px;

}



.cardHtuyyyyy {
  width: "33%";
  margin-top: -5px;

}

.amenu {
  align-items: center;
  text-decoration: none;
  white-space: normal;
  font-weight: 700 !important;
  font-size: 14px;
  color: rgb(229, 231, 235);
}

.ContainenButon {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  font-size: 1rem !important;
  line-height: 1.5rem !important;
  font-weight: 800;
}

.ContainenButon :hover {
  background-color: white;
  color: #984eca;

}

.Fontdwon {
  --tw-text-opacity: 1 !important;
  color: rgb(107 114 128/var(--tw-text-opacity)) !important;
}

.circle {
  color: white;
}

.girdrow {
  margin-top: 0px;
  display: grid;
  grid-template-columns: 181px 181px 181px 181px 181px;
  gap: 80px;
  width: 100%;
  height: auto;
  padding-left: 16px;
  padding-right: 16px;

}